[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
psycopg2-binary = "*"
django-polymorphic = "*"
django-generate-secret-key = "*"
djangorestframework-simplejwt = "*"
coreapi = "*"
pyyaml = "*"
djangorestframework = "*"
drf-yasg = "*"
packaging = "*"
sklearn = "*"
selectolax = "*"
celery = {extras = ["redis"],version = "*"}
django-celery-beat = "*"
docx2txt = "*"
gunicorn = "*"
feedparser = "*"
celery-singleton = "*"
scipy = "*"
aioboto3 = "*"
django-fernet-fields = "*"
asyncio-pool = "*"
pipfile = "*"
django = "==2.2"
pdfminer-six = "*"
pip = "*"
virtualenv = "*"
django-celery-results = "*"
django-debug-toolbar = "*"
django-filter = {git = "https://github.com/rpkilby/django-filter.git",ref = "filter-groups"}
pystemmer = "*"
cython = "*"

[requires]
python_version = "3.6"
