[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
psycopg2-binary = "*"
django-polymorphic = "*"
django-generate-secret-key = "*"
djangorestframework-simplejwt = "*"
coreapi = "*"
pyyaml = "*"
djangorestframework = "*"
django-filter = "*"
drf-yasg = "*"
packaging = "*"
django-s3-storage = "*"
sklearn = "*"
pystemmer = "*"
selectolax = "*"
celery = {extras = ["redis"],version = "*"}
django-celery-beat = "*"
pdfminer-six = "*"
docx2txt = "*"
gunicorn = "*"
feedparser = "*"
celery-singleton = "*"
scipy = "*"

[requires]
python_version = "3.6"
