[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
psycopg2-binary = "*"
django-polymorphic = "*"
django-generate-secret-key = "*"
djangorestframework-simplejwt = "*"
coreapi = "*"
pyyaml = "*"
djangorestframework = "*"
django-filter = "*"
drf-yasg = "*"
django-background-tasks = "*"
packaging = "*"
django-s3-storage = "*"

[requires]
python_version = "3.6"
