.brand-primary {
     background-color: #34103d ;
     border-color: #34103d;
     color:white;
    }

.button-brand-primary ,.button-brand-primary:hover {
     background-color: #34103d ;
     border-color: #34103d;
     color:white;
 
}

.tableheader {
    color:black;
    text-align:left;
    font-weight:bold;
    cursor:pointer;
    
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.hover{
  cursor:pointer
}

.react-datepicker__input-container input {
   width: 100%;
}
.boxes{
    height: 175px;
    overflow: auto;
    width: auto;
}

.bktextarea:read-only{
 background-color: white;
 color:black;
}

.nopadding{
  padding: 0 ;
  margin: 0 ;
}
