.brand-primary {
     background-color: #34103d ;
     border-color: #34103d;
     color:white;
    }

.button-brand-primary ,.button-brand-primary:hover {
     background-color: #34103d ;
     border-color: #34103d;
     color:white;
 
}

.tableheader {
    color:black;
    text-align:left;
    font-weight:bold;
    cursor:pointer;
    
}

.hover{
  cursor:pointer
}
